<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h1 class="text-5xl my-5">Abaout</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus placeat
    tenetur rem cumque. Minus vel placeat voluptates laboriosam molestias
    accusamus error eaque velit totam autem! Ipsam odit earum vero minima.
  </p>
</section>
