<section class="flex flex-col md:flex-row gap-y-4">
  <div class="felx-1 grid grid-cols-2 text-center">
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p>Dev Managnemer</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p>Dev Managnemer</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p>Dev Managnemer</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" />
      <p>Dev Managnemer</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col gap-y-10 text-center">
    <h2 class="text-5xl">Lorem ipsum fdomlor sit</h2>
    <p class="text-3xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda laborum
      voluptatum architecto unde nostrum optio commodi porro quos quisquam.
      Eveniet.
    </p>
  </div>
</section>
