---
import Layout from "../../src/Layout/Layout.astro";
---

<Layout title="acerca de ...">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis non
    perferendis sunt quam ad incidunt ea quaerat vero. Ab itaque perferendis
    mollitia natus, molestiae voluptas voluptates quae. Illum, corrupti
    sapiente.
  </p>
</Layout>
